* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sidebar {
	border-right: 1px solid #e3e3e3;
	width: 15%;
	min-width: 250px;
	margin-top: 20px;
	margin-left: 200px;
}

.logo img {
	width: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.logo:hover {
	background-color: #ccf1ff;
	border-radius: 50%;
	width: 50px;
}

.menu {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.menu i {
	padding: 20px;
}

.menu h2 {
	font-weight: 400;
	font-size: 20px;
	margin-right: 20px;
}

.menu:hover {
	background-color: #e3e3e3;
	border-radius: 30px;
	transition: color 100ms ease-out;
	width: fit-content;
}

.tweet {
	width: 70%;
	background-color: #00acee;
	border: none;
	color: white;
	font-weight: 700;
	border-radius: 30px;
	height: 50px;
	margin-top: 20px;
}

body {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.feed {
	border-right: 1px solid #e3e3e3;
	width: 30%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.home {
	
	top: 0;
	background-color: white;
	z-index: 1020;
	border: 1px solid #e3e3e3;
	padding: 15px 20px;

}

.home h2{
	font-size: 20px;
	font-weight: 700;
}

.feed::-webkit-scrollbar {
	display: none;
}

.feed {
	-ms-overflow-style: none;
	scrollbar-witdh: none;
}

.tweetboxInside img {
	border-radius: 50%;
	height: 40px;
}

.tweetbox {
	padding-bottom: 10px;
	border-bottom: 8px solid #e3e3e3;
}

.tweetbox form {
	display: flex;
	flex-direction: column;
}

.tweetboxInside {
	display: flex;
	padding: 20px;
}

.tweetboxInside input {
	flex: 1;
	margin-left: 20px;
	font-size: 20px;
	border: none;
	outline: none;
}

.tweetButton {
	background-color: #00acee;
	border: none;
	color: white;
	font-weight: 700;
	border-radius: 30px;
	width: 80px;
	height: 40px;
	margin-top: 20px;
	margin-left: auto;
}

.postPic img {
	border-radius: 50%;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}

.posts {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
	border-top: 1px solid #e3e3e3;

}

.post img{
	width: 350px;
	object-fit: contain;
	border-radius: 20px;
}

.icons {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.post h3 {
	font-size: 15px;
  	margin-bottom: 5px;
}

.username {
	font-weight: 600;
  	font-size: 12px;
  	color: gray;
}

.postContent {
	margin-bottom: 10px;
	font-size: 15px;
}

.post {
	flex: 1;
	padding: 10px;
}

.rightbar {
	width: 30%;
}

